body {
    width: 100%;
}


h1 {
    color: blue;
}
img {
    width: 400px;
}
#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: steelblue;
    padding: 50px;
    border-radius: 10px;
    border-style: solid;
    position: absolute;

}
#spanID {
    font-size: 18px;
    margin: 50px;

}